
@font-face {
    font-family: UbuntuLight;
    src:url("./fonts/Ubuntu-Light.ttf");  
}

@font-face {
    font-family: UbuntuBold;
    src:url("./fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Lora;
    src:url("./fonts/static/Lora-Regular.ttf");
}

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: UbuntuLight;
    font-size: 1.125rem;
    margin: auto;
    width: 90%;
    background-color: #f8f8f8;
}
small{
    font-family: UbuntuLight;
    font-size: 0.875rem;
}

header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

/*==========
Typography
===========*/

h1,
h2,
h3{
    font-family: Lora;
    color: #143774;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
.about-subtitle{
    color:  #1792D2;
}

nav ul li{
    margin-left: 2em;
    list-style: none;
    text-decoration: none;
}

ul{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}
img{
    max-width: 100%;
    display: block;
    object-fit: cover;
}

a{
    text-decoration: none;
    color: #707070;
    text-transform: uppercase;
    font-family: UbuntuBold; 
}
a:hover, a:focus{
    color: #1792d2;
}
.date{
    font-size: .875rem;
}
.intro-img{
    width: 100%;
    max-height: 400px;
    margin-bottom: 1em;
}

.subtitle{
    font-family: UbuntuBold;
    font-size: .75rem;
    color: #1792D2;
    text-transform: uppercase;
}

.current-page{
    border-bottom: 1px solid grey;
}
.current-page:hover{
    color:#707070;
}



.container{
    width: 100%;
    margin: 4em 0;
    /* display: flex; */
    justify-content: space-between; 
    gap: 0 2em; 
}

/* main{
    flex: 3;
} */

/* aside{
    flex: 1; 
    display: flex; 
    flex-direction: column;
    gap: 2.2em 0;
} */

main p{
    text-align: justify;
    margin: 1em 0;
    
}
.main-article{
    margin-bottom: 1em;
}

main a{
    text-transform: uppercase;
    color: #1792D2;
    font-weight: 700;
}
main a:hover{
    text-decoration: underline ;
    color:#143774;
}


.main-article img{
    width: 100%;
    min-height: 250px;
    max-height: 300px;
   
    
}
.starter-text{
    font-weight: 600;
}

.intro-heading{
    margin: 1em 0;
}

.underline{
    margin: 1em 0;
}
.articles{
    display: flex;
    flex-direction: column;
    gap: 3em 0;
}

.sidebar-container{
    border: .75em solid rgb(227, 227, 227);
    padding: 1em;
}
.sidebar-container:first-child{
    margin-bottom: 1em;
}

.sidebar-container img{
    padding: 1em 0;
}
.sidebar-container h3{
    text-transform: uppercase;
}
.sidebar-container article img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 160px;
    
}

footer{
    text-align: center;
    width: 100%;
    background: #143774;
    padding: 2em;
    color: white;
}
.sidebar-title{
    font-family: UbuntuBold;
    text-transform: uppercase;
}

@media (max-width: 768px){
    header{
        flex-direction: column;
        align-items: center;
    }
    .links{
        flex-direction: column;
        align-items:center;
    }
    .links li{
        margin: 0.5em;
    }
     h1{
        text-align: center;
     }
    
}

@media (min-width:675px){
    .main-article{
        display: flex;
    } 
    aside{
        flex: 1; 
        display: flex; 
        flex-direction: column;
        gap: 2.2em 0;
    }
    .container{
        display: flex;
    }

    main{
        flex: 2;
    }

    .col1{
        flex: 1;
        padding-right: 1em;
    }
    .col2{
       flex: 2;
    }
    



}
 